/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  height: 100%;
  background-size: cover;
  padding: 30px;
}
.card-container {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fruits-container {
  display: flex;
  justify-content: space-between;
}
.mango-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 300px;
  width: 300px;
  padding: 20px;
}
.button {
  color: #ffffff;
  background-color: #007bff;
  border-width: 0px;
  border-radius: 8px;
  font-size: 20px;
  height: 45px;
  padding: 15px;
  cursor: pointer;
}
